<%- include('../partials/header.ejs') %>
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="card shadow ">

                    <div class="card-body p-3">
                        <img src="https://images.unsplash.com/photo-1444080748397-f442aa95c3e5?ixlib=rb-4.0.3&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max"
                            class="Img.fluid" alt="wallpaper">
                        <div class="card-body p-4">
                            <h2 class="card-title fw-bold text-secondary">Title</h2>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda ducimus fugiat
                                corporis vitae facilis blanditiis, veritatis a distinctio quod quisquam, ipsam commodi
                                reprehenderit consectetur inventore facere vel rem perferendis velit?
                            </p>
                        </div>
                        <div>
                            <a href="'/post/123" class="btn btn-primary btn-sm">Read more</a>
                        </div>
                        <div class="card-fooster">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>Author : Parita</div>
                                <div>Create : 11-21-2024 </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card shadow ">

                    <div class="card-body p-3">
                        <img src="https://images.unsplash.com/photo-1444080748397-f442aa95c3e5?ixlib=rb-4.0.3&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max"
                            class="Img.fluid" alt="wallpaper">
                        <div class="card-body p-4">
                            <h2 class="card-title fw-bold text-secondary">Title</h2>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda ducimus fugiat
                                corporis vitae facilis blanditiis, veritatis a distinctio quod quisquam, ipsam commodi
                                reprehenderit consectetur inventore facere vel rem perferendis velit?
                            </p>
                        </div>
                        <div>
                            <a href="'/post/123" class="btn btn-primary btn-sm">Read more</a>
                        </div>
                        <div class="card-fooster">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>Author : Parita</div>
                                <div>Create : 11-21-2024 </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer') %>