<%- include('../partials/header.ejs') %>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-8 mx-auto">
            <div class="card shadow d-flex justify-content-between align-item-center">
                <div class="card-header">
                    <h2 class="fw-bold text-secondary">My Posts</h2>
                    <a href="/edit-post" class="btn btn-danger btn-sm">Edit</a> 
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        <div class="mb-3">
                            <label for="title" class="from-lable">Title</label>
                            <input type="text" class="from-control" name="title" id="title" placeholder="title" required>
                        </div>

                        <div class="mb-3">
                            <label for="content" class="from-lable">Content</label>
                            <textarea name="content" class="from-control" id="content" row="5" required></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="image" class="from-lable">Image</label>
                            <input type="file" class="from-control" name="image" id="image" placeholder="image" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Create Post</button>

                    </form>
                </div>
        </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>